:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
}
.app-container {
  min-height: 90vh;
}
.navbar {
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
}

.landing {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-buttons {
  border: 1px solid rgb(146, 73, 73);
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.4rem 1rem;
  margin: 1rem;
  color: rgb(67, 67, 67);
}
.leaderboard {
  display: flex;
  width: 70vw;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.marks {
  display: flex;
  justify-content: center;
  align-items: center;
}
